<div class="mt-4">
    <div>
        <h3>Khóa học của tôi</h3>
        <h5>
            <a href="/me/trash/courses">Khóa học đã xóa</a>
        </h5>
    </div>
    <table class="table" class="mt-4">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Level</th>
                <th scope="col">Time</th>
                <th scope="col">Button</th>

            </tr>
        </thead>
        <tbody>
            {{#each course}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                    <a href="" class="btn btn-link" data-id={{this._id}} data-toggle="modal"
                        data-target="#delete-course-modal">Xóa</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    <h5>Bạn chưa đăng khóa học nào....
                        <a href="/courses/create">Đăng khóa học</a>
                    </h5>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- confirm delete course --}}
<div class="modal fade" id="delete-course-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa khóa học?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn xóa khóa học này? </p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-delete-course" class="btn btn-danger">Xóa bỏ</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>
{{!-- delete hidden form --}}
<form name="delete-course-form" method="POST" class="mt-4"></form>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var idDelete;
        var deleteForm = document.forms['delete-course-form'];
        var btnDeleteCourse = document.getElementById('btn-delete-course');


        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            idDelete = button.data('id')
        })

        btnDeleteCourse.onclick = function () {

            deleteForm.action = '/courses/' + idDelete + '?_method=DELETE';
            deleteForm.submit()
        }
    })


</script>