<div class="mt-4">
    <div>
        <h3>Khóa học đã xóa</h3>
        <h5>
            <a href="/me/stored/courses">Danh sách khóa học</a>
        </h5>
    </div>
    <table class="table" class="mt-4">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Level</th>
                <th scope="col">Time</th>
                <th scope="col">Button</th>

            </tr>
        </thead>
        <tbody>
            {{#each course}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Khôi phục</a>
                    <a href="" class="btn btn-link" data-id={{this._id}} data-toggle="modal"
                        data-target="#delete-course-modal">Xóa vĩnh viễn</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    <h5>Bạn chưa xóa khóa học nào....

                    </h5>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- confirm delete course --}}
<div class="modal fade" id="delete-course-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa khóa học?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Hành động này không thể khôi phục, Bạn chắc chắn xóa khóa học này vĩnh viễn? </p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-delete-course" class="btn btn-danger">Xóa bỏ</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>
{{!-- delete hidden form --}}
<form name="delete-course-form" method="POST" class="mt-4"></form>
<form name="restore-course-form" method="POST" class="mt-4"></form>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var idDelete;
        var deleteForm = document.forms['delete-course-form'];
        var restoreForm = document.forms['restore-course-form'];
        var btnDeleteCourse = document.getElementById('btn-delete-course');
        var restoreBtn = $('.btn-restore');

        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            idDelete = button.data('id')
        })

        btnDeleteCourse.onclick = function () {

            deleteForm.action = '/courses/' + idDelete + '/force?_method=DELETE';
            deleteForm.submit()
        }
        restoreBtn.click(function (e) {
            e.preventDefault();
            var courseId = $(this).data('id');
            restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
            restoreForm.submit()
        })
    })


</script>